.site-root{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.site-main{
    flex:1;
    padding: 0;
}
.container{
    max-width:1000px;
    margin:0 auto;
    padding:0 1rem;
}
.site-footer{
    border-top:2px solid rgba(0,0,0,0.06);
    padding:1.5rem 0;
    text-align:center;
    color:rgba(0,0,0,0.7);
    margin-top:auto;
}