html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


.site-root{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.site-main{
    flex:1;
    padding: 0;
    margin-top: 10rem
}
.container{
    max-width:1000px;
    margin:0 auto;
    padding:0;
}
.site-footer{
    border-top:2px solid var(--border-soft);
    padding:1.5rem 0;
    text-align:center;
    color: var(--text-footer);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    background: var(--footer-bg);
    width: 100%;
}