:root {
  --font-sans: "Inter", system-ui, sans-serif;

  /* Backgrounds */
  --bg-layer-1: #f5f3ef;
  --bg-layer-2: #ece8e2;

  /* Text */
  --text-primary: #2b2b2f;
  --text-secondary: #6b6b73;
   --text-tertiary: #fff;

  /* Accent */
  --accent-1: #959498; 
  --accent-2: #e8e3dc;  
  --accent-3: #8fa3b3; 
  --accent-4: #6f7074; 

  /* Border */
  --border-soft: rgba(0,0,0,0.06);
  --shadow-soft: 0 6px 20px rgba(0,0,0,0.1);

  /* Header */
  --header-bg: linear-gradient(135deg, #959498, #c9c9cb, #f5f6f7);
  --text-header: #2b2b2f;

  --footer-bg: linear-gradient(135deg, #959498, #c9c9cb, #f5f6f7);
  --text-footer: #2b2b2f;
}

body, html, #root {
  height: 100%;
  margin: 0;
  background: url('/images/background-image.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: var(--font-sans);
}

/* Optional: overlay for softer contrast */
body::before {
  content: '';
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255, 255, 255, 0.15); 
  pointer-events: none; 
  z-index: 0;
}


